<div class="d-flex justify-content-center mb-5 mt-5 pb-4">
    <div class="card  mb-5 pb-4" style="max-width: 60rem;">
        <div class="card-header"><h4>Account Verification</h4></div>
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <div class="col-4"><img class="mt-2" src="assets/correct.jpg" width="120" height="120"></div>
                <div class="col-8"> <h6 class="card-title">Hi {{firstname}} {{lastname}},</h6>
                    <p class="card-text">Your account has been verified successfully.</p></div>
              </div>
        </div>
    </div>
</div>