
<div class = "d-flex justify-content-center mt-5 pt-5" >
    <div class="card text-center" style="width: 28rem;">
       
        <div *ngIf="router.url === '/admin/forgot-password'" class="card-header">
            <i class="material-icons fa-3x">admin_panel_settings</i>
          <h3>Admin Forgot Password</h3>
        </div>
        <div  *ngIf="router.url === '/forgot-password'" class="card-header">
           
          <h3>Forgot Password</h3>
        </div>
        <div class="card-body">
            <form class="form-group m-2 p-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
               <!-- <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>-->

                <input type="text" id="login" class="form-control mt-3 pb-2 mb-3 " name="login" 
                    placeholder="Email" autocomplete="false" formControlName="email" 
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>


                    <input type="submit"  class="btn btn-warning btn-md btn-block mt-4 pt-2  mb-3"
                    [disabled]="forgotPasswordForm.invalid" value="Submit">
              </form>
        
      </div>
</div>
