
<div class = "d-flex justify-content-center mt-5 pt-5" >
    <div class="card text-center" style="width: 28rem;">
        <div *ngIf="router.url === '/admin/reset-password'" class="card-header">
            <i class="material-icons fa-3x">admin_panel_settings</i>
          <h3>Admin Reset Password</h3>
        </div>
        <div  *ngIf="router.url === '/reset-password'" class="card-header"> 
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
            <form class="form-group m-2 p-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <input type="text" [textMask]="{mask: mask}" formControlName="verificationCode" class="form-control" placeholder="Verification Code" [ngClass]="{ 'is-invalid': submitted && f.verificationCode.errors }" />
                <div *ngIf="submitted && f.verificationCode.errors" class="invalid-feedback">
                    <div *ngIf="f.verificationCode.errors.required">Verification Code is required</div>
                </div>

                <input type="password" formControlName="password" class="form-control mt-3 mb-3" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">New Password is required</div>
                </div>

                <input type="password" id="login" class="form-control mt-3 mb-3 " name="login" 
                    placeholder="Confrim New Password" autocomplete="false" formControlName="confirmPassword" 
                    [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }">
                    <div class="invalid-feedback" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                        Passwords must match 
                    </div>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm New Password is required</div>
                </div>
                <input type="submit" class="btn btn-warning btn-md btn-block mt-4  mb-3" 
                value="Submit">
              </form>
      </div>
</div>
