<div class = "d-flex justify-content-center m-4 pt-3 "> 
    <div class="card w-75 " >
        <h5 class="card-header"  style="font-size:2vw">Employee</h5>
        <div class="card-body">
            <form [formGroup]="addEmployeeForm"  (ngSubmit)="onSubmit()">
               
                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Employee No   <span class="required-asterisk">*</span></label>
                        <input type="text" formControlName="employeeNo" class="form-control"  [ngClass]="{ 'is-invalid': (f.employeeNo.touched || submitted) && f.employeeNo.errors }" />
                        <div *ngIf="(f.employeeNo.touched || submitted) && f.employeeNo.errors" class="invalid-feedback">
                            <div *ngIf="f.employeeNo.errors.required">Employee No. is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>First Name <span class="required-asterisk">*</span></label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': (f.firstName.touched || submitted) && f.firstName.errors }" />
                        <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Last Name <span class="required-asterisk">*</span></label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': (f.lastName.touched || submitted) && f.lastName.errors }" />
                        <div *ngIf="(f.lastName.touched || submitted) && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last name is required</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isRegistered" class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label class="mr-5 ">Gender <span class="required-asterisk">*</span></label>  
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male"
                            formControlName="gender">
                            <label class="form-check-label text-secondary" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female"
                            formControlName="gender">
                            <label class="form-check-label text-secondary" for="inlineRadio2">Female</label>
                        </div>
                        <div *ngIf="(f.gender.touched || submitted) && f.gender.errors" class="invalid-feedback">
                            <div *ngIf="f.gender.errors.required">Gender is required</div>
                        </div>
                    </div>
                </div>
              
                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Email <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':  (f.email.touched || submitted) && f.email.errors }" />
                    <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    </div>
                
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Category <span class="required-asterisk">*</span></label>
                        <select class="custom-select custom-select mb-3" formControlName="category" [(ngModel)]="selectedValue" 
                        [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                            <option  *ngFor="let positon of category" [value]="positon">{{positon}}</option>
                        </select>
                    </div>
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                    </div>
                </div>
                <div *ngIf="isRegistered" class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Mobile No <span class="required-asterisk">*</span></label>
                    <input type="text" [textMask]="{mask: mask}" formControlName="mobileNo" class="form-control" [ngClass]="{ 'is-invalid': (f.mobileNo.touched || submitted) && f.mobileNo.errors }" />
                    <div *ngIf="(f.mobileNo.touched || submitted) && f.mobileNo.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileNo.errors.required">Mobile No. is required</div>
                    </div>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Phone (Residential) <span class="required-asterisk">*</span></label>
                    <input type="text" [textMask]="{mask: mask}" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': (f.phone.touched || submitted) && f.phone.errors }" />
                    <div *ngIf="(f.phone.touched || submitted) && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                    </div>
                    </div>
                </div>

                <div *ngIf="isRegistered" class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Street Address <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="streetAddress" class="form-control" [ngClass]="{ 'is-invalid': (f.streetAddress.touched || submitted) && f.streetAddress.errors }" />
                    <div *ngIf="(f.streetAddress.touched || submitted) && f.streetAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.streetAddress.errors.required">Street address is required</div>
                    </div>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Suburb & Postal Code <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="postalCode" class="form-control" [ngClass]="{ 'is-invalid': (f.postalCode.touched || submitted) && f.postalCode.errors }" />
                    <div *ngIf="(f.postalCode.touched || submitted) && f.postalCode.errors" class="invalid-feedback">
                        <div *ngIf="f.postalCode.errors.required">Postal code is required</div>
                    </div>
                    </div>
                </div>

                <div *ngIf="isRegistered" class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>State <span class="required-asterisk">*</span></label>
                        <select class="custom-select custom-select mb-3" formControlName="state"  [ngClass]="{ 'is-invalid': (f.state.touched || submitted) && f.state.errors }">
                            <option  *ngFor="let state of states" [value]="state">{{state}}</option>
                        </select>
                        <div *ngIf="(f.state.touched || submitted) && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                    </div>
                </div>
              
                <hr class="style14">
                <br>

                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Tax File No <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="taxFileNo" class="form-control" [ngClass]="{ 'is-invalid': (f.taxFileNo.touched || submitted) && f.taxFileNo.errors }" />
                    <div *ngIf="(f.taxFileNo.touched || submitted) && f.taxFileNo.errors" class="invalid-feedback">
                        <div *ngIf="f.taxFileNo.errors.required">Tax file No. is required</div>
                    </div>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Hourly Rate <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="hourlyRate" class="form-control" [ngClass]="{ 'is-invalid': (f.hourlyRate.touched || submitted) && f.hourlyRate.errors }" />
                    <div *ngIf="(f.hourlyRate.touched || submitted) && f.hourlyRate.errors" class="invalid-feedback">
                        <div *ngIf="f.hourlyRate.errors.required">Hourly rate is required</div>
                    </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Penalty 1 <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="penalty1" class="form-control" [ngClass]="{ 'is-invalid': (f.penalty1.touched || submitted) && f.penalty1.errors }" />
                    <div *ngIf="(f.penalty1.touched || submitted) && f.penalty1.errors" class="invalid-feedback">
                        <div *ngIf="f.penalty1.errors.required">Penalty 1 is required</div>
                    </div>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <label>Penalty 2 <span class="required-asterisk">*</span></label>
                    <input type="text" formControlName="penalty2" class="form-control" [ngClass]="{ 'is-invalid': (f.penalty2.touched || submitted) && f.penalty2.errors }" />
                    <div *ngIf="(f.penalty2.touched || submitted) && f.penalty2.errors" class="invalid-feedback">
                        <div *ngIf="f.penalty2.errors.required">Penalty 2 is required</div>
                    </div>
                    </div>
                </div>
               
              
                <div class="form-row">
                    <div class="form-group col-6 pr-2 pl-2">
                        <button class="btn btn-warning btn-lg btn-block" [disabled]="addEmployeeForm.invalid" >Save</button>
                    </div>
                    <div class="form-group col-6 pr-2 pl-2">
                        <button class="btn btn-secondary  btn-lg btn-block"  type="reset" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>