<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container bg-overlay">
	<div class="row text-center">
<div class="container text-center ">

    <!---->
    <p aria-label="CodePen">
        <span data-text="S">S</span><span data-text="I">I</span><span data-text="T">T</span><span data-text="E">E</span>
      </p>
      
      <p aria-label="CodePen">
        <span data-text="M">M</span><span data-text="A">A</span><span data-text="N">N</span>
            <span data-text="A">A</span><span data-text="G">G</span><span data-text="E">E</span><span data-text="M">M</span>
            <span data-text="E">E</span><span data-text="N">N</span><span data-text="T">T</span>
      </p>
    <!---->

    <h4 style="color: rgb(255, 255, 255);">Do your management by clicking<br>
        "<strong> Following icon </strong>"</h4>
    <br><br>
    
    <div class="row ">
        <div class="col-lg-12">
            
            <p>
                <a routerLink="/admin/addSite" class="btn btn-squared-default btn-primary">
                    <i class="fa fa-plus fa-5x"></i>
                    <br />
                    add site
                   
                </a>
                <a routerLink="/admin/addArea" class="btn btn-squared-default btn-success">
                    <i class="fa fa-plus fa-5x"></i>
                    <br />
                    add area
                   
                </a>
                <a routerLink="/admin/addDuty" class="btn btn-squared-default btn-warning">
                    <i class="fa fa-plus fa-5x"></i>
                    <br />
                    add duty
                   
                </a>
                <a routerLink="/admin/assign" class="btn btn-squared-default btn-danger">
                    <i class="fa fa-plus fa-5x"></i>
                    <br />
                    assign
                   
                </a>

                <a routerLink="/admin/viewSite" class="btn btn-squared-default btn-info">
                    <i class="fa fa-plus fa-5x"></i>
                    <br />
                    views
                   
                </a>
            </p>
        </div>
    </div>

    
</div>

</div>
</div>

<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
        margin-right: 50px;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>